<% current_user.goals.each do |goal| %>
  <!-- doing displaying a different card according to if there's a next item or not -->
  <div class="col-xs-8 col-xs-offset-2">
    <% if goal.difficulty == "hard" %>
      <div class="product card__border-hard">
    <% elsif goal.difficulty == "medium" %>
      <div class="product card__border-medium">
    <% else %>
      <div class="product card__border-easy">
    <% end %>
      <%= link_to goal_path(goal), class: "product-link" do %>
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'><%= goal.votes %></div>
          <div class="product-downvote"></div>
        </div>
        <%= image_tag goal.subject.name.downcase + '.svg', class: "product-image hidden-xs"%>
        <div class='product-body'>
          <h6>Average completion: <%= calculate_time(goal) %> Hours</h6>
          <h3><%= goal.name %></h3>
          <p><%= goal.subject.name.upcase %></p>
        </div>
        <div class='product-task'>
          <% counter = 0 %>
          <% goal.tasks.each do |task| %>
            <% if task.completed %>
              <% counter += 1 %>
            <% end %>
          <%end %>
          <%= "#{counter} / #{goal.tasks.length}" %>
        </div>
      <% end %>
        <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
          <li><%= link_to "", edit_goal_path(goal), class: "fa fa-edit" %></li>
          <li><%= link_to "", goal_path(goal), method: "delete", class: "far fa-trash-alt" %></li>
        </ul>
      </div>
  </div>
<% end %>
