<div class="container bottom-big-margin">
  <h6 class="pages-dashboard__small-text"> My goals</h6>
  <div class="goals-container">
    <% if current_user.goals.any? %>
      <% current_user.goals.each do |goal| %>
        <%= link_to "edit", edit_goal_path(goal)  %>
        <%= link_to "delete", goal_path(goal), method: "delete"  %>
        <%= link_to goal_path(goal) do %>

        <% if goal.difficulty >= 7 %>
          <div class="goals-index-card card__border-red">

        <% elsif goal.difficulty >= 4 && goal.difficulty < 7 %>
          <div class="goals-index-card card__border-yellow">

        <% else %>
          <div class="goals-index-card card__border-green">

        <% end %>
            <div class = "goals-index-card__title">
              <h4><%= goal.name %></h4>
            </div>
            <div class="goals-index-card__subject">
              <p><strong><%= goal.subject.name.upcase %></strong></p>
            </div>
            <div class = "goals-index-card__time">
              <p>Average completion: <%= calculate_time(goal) %> Hours</p>
              <br>
            </div>
            <!-- <div class = "goals-index-card__description">
              <%= goal.description %>
            </div> -->
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="card">
    <h3 class="text-center">Browse or add a new goal 👇</h3>
    <div class="text-center xs-margin parent-buttons">
      <%= link_to "Browse Goals", goals_path, class: "btn btn-orange" %>
      <%= link_to "+ Add goal", new_goal_path, class: "btn btn-orange" %>
    </div>
</div>
