 <div class="homepage" style="background-image: url('<%= image_path 'learnbox-background.png' %>')">
    <%= render 'shared/home-banner' %>
    <div class="container">
      <div class="features-card__wrapper">
          <h1 class="simple__heading">IT'S SIMPLE</h1>
          <p class="simple__text features-card__text">Break down hard problems into smaller steps. Quantify your progress
          regularly. If you go off track, your pledged money is temporarely locked until you get back on your feet.
          Quit the challenge and your money will be given to a non-profit of your choice</p>
          <div class="features-card-container">
            <div class="features-card">
              <div class="features-card-image">
               <%= image_tag "goal.svg" %>
              </div>
              <div class="features-card-content">
                <div class="features__text-l">Set a goal</div>
                <div class="features__text-m">Or select one from our most popular list.</div>
                <div class="features__text-s">There is a difference between having and achieving a goal. We are here to  help.</div>
              </div>
            </div>
                <div class="features-card">
                  <div class="features-card-image">
                    <%= image_tag "contract.svg" %>
                  </div>
                  <div class="features-card-content">
                    <div class="features__text-l">Pledge amount</div>
                    <div class="features__text-m">We will create a commitment contract</div>
                    <div class="features__text-s">It is a binding agreement you sign with yourself to ensure fulfill your intentions.</div>
                  </div>
                </div>
                <div class="features-card">
                  <div class="features-card-image">
                    <%= image_tag "start.svg" %>
                  </div>
                  <div class="features-card-content">
                    <div class="features__text-l">Start Learning</div>
                    <div class="features__text-m">Log in to report your achievements</div>
                    <div class="features__text-s">We will track your progress and help you out if you get stuck.</div>
                  </div>
                </div>
          </div>
      </div>
    </div>

    <div class="container pricing__wrapper">
      <h1 class="simple__heading"> Pricing </h1>
      <p class="pricing__text"> Fulfill your dreams or lose your pledge. It's a win-win.</p>
      <%= render 'shared/pricing' %>
    </div>

</div>
