<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>Mind Blowing courses</h1>
    </div>
  </div>
  <div class="row">
    <% @subjects.each_with_index do |subject, index| %>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <%= link_to subject_path(subject) do  %>
        <div class="subject-card">
          <div class="subject-card-image" style='background-image: url("https://source.unsplash.com/random/<%=(index+15)*10 %>")'></div>
          <div class="subject-card-content">
            <div class="subject-card-title">
              <h4><%= subject.name %></h4>
            </div>
            <p><%= subject.description %></p>
            <p><i class="fas fa-utensils"></i>  <%= subject.subject_difficulty %></p>
            <div class="flex">
              <div class="card__conent-align-left">
                <i class="fas fa-users"> </i><span><%= subject.rating%></span>
              </div>
              <div class="card__conent-align-right">
                <i class="fas fa-euro-sign"> </i> <%= subject.subject_progress%>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
