<div class="container ctn-login">
  <div class="login-top">
    <h2>Log in</h2>
  </div>
  <div class="login-white">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs login-username login-password">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Let me in.", class: "btn-warning btn-block   btn-trans" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>

<div class="underlay-photo"></div>
<div class="underlay-black"></div>
