
<div class="container ctn-login">
  <div class="login-top">
    <h3>Edit your goal</h3>
  </div>
  <div class="login-box">
    <%= simple_form_for(@goal) do |f| %>
      <% if @goal.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @goal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, placeholder: "What do you want to achieve?" %>
      <%#= f.input :subject, placeholder: "What subject it belongs to?"%>
      <%= f.association :subject, collection: Subject.all, promt: "What subject does it belong to?" %>
      <%= f.input :difficulty, collection: ["easy", "medium", "hard"] %>
      <%= f.input :description, placeholder: "Add a description to the goal" %>

      <div class="text-center">
        <%= f.submit "Done", class: "btn btn-primary" %>
      </div>
      <!-- [...] all the fields -->
    <% end %>

  </div>
</div>
