<div class="container">
  <p class="text-center text-orange"> <strong>Some suggested Goals</strong></p>
  <% @goals.each do |goal| %>
    <% if goal.difficulty >= 7 %>
      <div class="goals-index-card card__border-red">
    <% elsif goal.difficulty >= 4 && goal.difficulty < 7 %>
      <div class="goals-index-card card__border-yellow">
    <% else %>
      <div class="goals-index-card card__border-green">
    <% end %>
        <div class="goals-index-card__subject">
          <p><strong><%= goal.subject.name.upcase %></strong></p>
        </div>
        <div class = "goals-index-card__time">
          <%= calculate_time(goal) %>
          <br>
          <strong><%=  first_deadline(goal)%></strong>
        </div>
        <div class = "goals-index-card__title">
          <h4><%= goal.name %></h4>
        </div>
        <div class = "goals-index-card__description">
          <%= goal.description %>
        </div>
      </div>
  <% end %>
</div>
