<div class="container goals-container md-margin">
  <h6 class="pages-dashboard__small-text">  Suggested Goals</h6>
  <% @goals.each do |goal| %>
    <%= link_to goal_path(goal) do %>

    <% if goal.difficulty >= 7 %>
      <div class="goals-index-card card__border-red">

    <% elsif goal.difficulty >= 4 && goal.difficulty < 7 %>
      <div class="goals-index-card card__border-yellow">

    <% else %>
      <div class="goals-index-card card__border-green">

    <% end %>
        <div class = "goals-index-card__title">
          <h4><%= goal.name %></h4>
        </div>
        <div class="goals-index-card__subject">
          <p><strong><%= goal.subject.name.upcase %></strong></p>
        </div>
        <div class = "goals-index-card__description">
        </div>

        <div class = "goals-index-card__time">
          <p>Average completion: <%= calculate_time(goal) %> Hours</p>
        </div>

        <div class = "goals-index-card__import">
          <p> <%= link_to "import", create_from_copy_path(id: goal.id), method: "post", class: "" %> </p>

          <%# if first_deadline(goal).nil? %>
            <!-- <p>no deadline</p> -->
          <%# else %>
            <%#=first_deadline(goal).strftime("%B %d")%>
          <%# end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

