<div class="goal-show__wrapper">
  <div class="goal-show__top-content">
    <div class="goal-show__goal-word">
    Goal
    </div>
    <div class="goal-show__goal-title">
    <%= @goal.name %>
    </div>
    <div class="add-task-btn">
     <%= link_to "Add task", new_goal_task_path(@goal), class: "add-task-btn-2" %>
    </div>
  </div>
   <div class="task-card__row">
      <% @goal.tasks.each_with_index do |task, index| %>
        <div class="task-card">
          <div class="task-card-taskname">
              <%= link_to "edit", edit_goal_task_path(@goal, task)  %>
              <%= task.name%>
          </div>
          <div class="task-card-icons">
          <%= link_to "delete", goal_task_path(@goal, task), method: "delete"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
